.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Aespa-test-env/cuckoo_generator

Aespa-test-env/run

Tests/Cuckoo/cuckoo_generator

Tests/Cuckoo/run
