.DS_Store
/.build
/Packages
/*.xcodeproj
/*.xcodeproj
Aespa-iOS.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Scripts/cuckoo_generator
Scripts/run

Tests/Tests/Mock/GeneratedMocks.swift
