.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Scripts/cuckoo_generator
Scripts/run

Tests/Tests/Mock/GeneratedMocks.swift
Demo/Aespa-iOS.xcodeproj/project.pbxproj
Demo/Aespa-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
